@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 

/* 전체 페이지 기본 글씨체 */
*{
 font-family: 'Noto Sans KR', sans-serif; 
 letter-spacing:-0.07rem;
 font-size: 1.125rem;
 color: #444444;
 
 /* 텍스트 선명하게 하는 코드 */
 /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.widget-info{
    color: #85868c !important;
}
 
/* 마우스 드래그 했을때의 선택영역 색상 변경 */
::selection{
    background:#008996;
    color:#fff;
}
::-moz-selection{
    background:#008996;
    color:#fff;
}
::-webkit-selection{
    background:#008996;
    color:#fff;
} 

/* 페이지에서 스크롤상태 표시하는 상단바 - Progress Indicator */
.b3 #i-am-progress-indicator {
  position:fixed;
  top:0;
  left:0;
  height:15px;
  background:#008996;
  width:0%;
  z-index: 500;
}


/*===============================================================*/
/* 메인 이미지 위 공백 삭제 (워드프레스 기본 css 삭제) */
#main{padding: 0px !important;
}

/* 공통요소 */
/* 공통요소 - 제목*/
h2{
  text-align: center;
}

h2, h4, p {
  margin-bottom: 0px !important;
}

.titleColor{
  padding-top: 100px;
  padding-bottom: 30px;
  /*40px*/
  font-size: 2.5rem;
  /*45px*/
  line-height: 2.813rem;
  letter-spacing : -0.15rem;
  font-weight: 700;
  color: #5fa52c;
  text-align: center;       
}

.titleColor strong{
  /*40px*/
  font-size: 2.5rem;
  /*45px*/
  line-height: 2.813rem;
  letter-spacing : -0.05rem;
  font-weight: 800;
  color: #5fa52c;
  text-align: center;       
}

.subTitleColor{
  margin-bottom: 0px !important;
  padding-top: 20px;
  padding-bottom: 30px;
  /*26px*/
  font-size: 1.625rem;
  /*36px*/
  line-height: 2.25rem;
  letter-spacing: -0.15rem;
  font-weight: 800;
  color: #000e42;
  text-align: center; 
}

.subTitleColor strong{
  /*26px*/
  font-size: 1.625rem;
  /*36px*/
  line-height: 2.25rem;
  letter-spacing: -0.07rem;
  font-weight: 800;
  color: #000e42;
  text-align: center; 
}
/* 공통 - 부제목 밑줄 */
.minilineBlack{
    width: 16px;
    border: 0;
    height: 2px;
    background: #333333;
    text-align:center; 
    margin: 0 auto;
}

/* 공통 - 본문 */
.mainText{
  padding-top: 20px;
  padding-bottom: 20px;
  /*22px*/
  font-size: 1.375rem;
  /*32px*/
  line-height: 2rem;
  letter-spacing: -0.07rem;
  font-weight: 400;
  color: #444444;
  text-align: center;
}

.mainText strong{
  /*22px*/
  font-size: 1.375rem;
  /*32px*/
  line-height: 2rem;
  letter-spacing: -0.07rem;
  font-weight: 600;
  color: #444444;
  text-align: center;
}

/* 엔코아 교육의 장점 */
.focusText{
    padding-top: 100px;
    padding-bottom: 50px;
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.focusText strong{
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

/* 엔코아 교육의 장점 - 강의소개 */
.focusNO {
    text-align: center;
}

.focusNO strong{
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    color: #D1EDBC;
    text-align: center;
}

/* 엔코아 교육의 장점 - 강의교재 */
.focusSub{
    /*24px*/
    font-size: 1.5rem;
    /*60px*/
    line-height: 3.125rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    color: #D1EDBC;
    text-align: center;
}
/* 엔코아 교육의 장점 끝 */

/* 수업에서 배우는 내용 너비 지정 */
.w1024{
  max-width: 1024px !important;
  margin: 0 auto;
}
  
.w1024only{
  max-width: 1024px !important;
}
  /* 수업에서 배우는 내용 */
  .lectureDivWhole34{
      position: relative;
      padding-top: 25px;
      padding-bottom: 40px;
      height: 185px;
  }
  
  .lectureDivPart34{
      padding-top: 20px;
      padding-bottom: 20px;
      position: absolute;
      width: 32rem;
      text-align: center;
  }
  
  .lectureText34 strong{ 
      padding-top: 10px;
      padding-bottom: 10px;
      /*22px*/
      font-size: 1.375rem;
      /*32px*/
      line-height: 2rem;
      letter-spacing: -0.05rem;
      font-weight: 600;
      text-align: center;
  }
  
  .lectureText34{
      padding-top: 20px;
      padding-bottom: 10px;
      /*22px*/
      font-size: 1.375rem;
      /*32px*/
      line-height: 2rem;
      letter-spacing: -0.07rem;
      font-weight: 400;
      text-align: center;
  }
  /* 수업에서 배우는 내용 끝 */

/* 커리큘럼 */
/* 커리큘럼 테이블 */
#cu3 #curriculumTable table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}  

#cu3 th{
  border-top: 5px solid #222222;
  border-bottom: 5px solid #222222;
  text-align: center;
  color: #222222;
  font-size: 20px;
}

#cu3 #point td{
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #222222;
  color: #222222;
}

#cu3 .curriculumSubject2{
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  line-height: 35px;
  color: #222222;
  font-weight: 700;
}

#cu3 #tdWidth{
  width: 35%;
}
    
#cu3 .tdCenter{
  text-align: center;
  height: 150px;
}
  
#cu3 .curriculumText2{
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 35px;
  color: #222222;
  font-weight: 500;
}
/* 커리큘럼 테이블 끝 */   

/* 토글메뉴 */
/* 토글메뉴 - 수강료 납부안내 */
#cu3 #curriculumTable table{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}  

#cu3 .curriculumSubject{
  margin: 0px;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  /*22px*/
  font-size: 1.5rem;
  /*30px*/
  line-height: 1.875rem;
  letter-spacing: -0.03rem;
  font-weight: 800;
  text-align: left;
}
    
#cu3 .curriculumText {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
}

/*옅은 회색 배경 + 검정 글씨*/
.bgcccfc444{
    background: #cccccc;
    color: #444444;
}

/* 토글메뉴 - 화살표 */
/* 검은색 화살표 */
.curriculumSubject::before, .curriculumSubject::after{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    margin-left: 56.25rem;
    background-position: center center;
    background-repeat: no-repeat;
   }


/* 토글 화살표 아이콘 margin left 값 조정 */
    /* 검은색 화살표 */
    @media screen and (max-width : 1150px) and (min-width : 995px) {
        .curriculumSubject::before, .curriculumSubject::after{
            margin-left: 85%;
        }
    }

    @media screen and (max-width : 1299px) and (min-width : 1151px) {
        .curriculumSubject::before, .curriculumSubject::after{
            margin-left: 87%;
        }
    }

    @media only screen and (min-width : 1300px){
        .curriculumSubject::before, .curriculumSubject::after{
            margin-left: 87%;
        }
    }
   
/* 토글 화살표 아이콘 margin left 값 조정 끝 */

/* 검정색 화살표 이미지 */
.curriculumSubject::before{
    display: inline-block;
    background-image: url("http://playdata.io/academy/wp-content/uploads/2019/04/arrow2_down.png");
}
.curriculumSubject::after{
    display: none;
    background-image: url("http://playdata.io/academy/wp-content/uploads/2019/04/arrow2_up.png");
}

.curriculum.open .curriculumSubject::before{
    display: none;
}
.curriculum.open .curriculumSubject::after{
    display: block;
    transform: translate3d(0, -100%, 0);
}
/* 토글메뉴 : 화살표 끝 */
/* 토글메뉴 : 수강료 납부 안내 끝*/

/* 커리큘럼 내용 너비 */
#cu3 #tdWidth{
  width: 43%;
}    

.curriculum{
    overflow: hidden;
    margin-bottom: 10px;
}

.curriculumSubject p{
    margin-bottom: 0px !important;
}

.curriculumContentContainer {
    height: 0;
    overflow: hidden;
    padding: 0;
}
.curriculumContent{
    padding: 30px 20px 30px 50px;
    background-color: #dddddd;
    /*22px*/
    font-size: 1.375rem;
    /*32px*/
    line-height: 2rem;
    letter-spacing: -0.1rem;
    font-weight: 400;
    text-align: left;
}

.curriculumContent table{
    margin-bottom: 0px;
}

.curriculumContentProjectText{
    padding-top: 20px;
    padding-bottom: 30px;
}

.curriculumContent strong{
    font-size: 1.375rem;
    color: #444444;
    font-weight: 700;
    text-align: center;
}

.curriculumContentText{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 플레데이터 교육 장소 */
.addressTitle{
    padding-top: 100px;
    padding-bottom: 20px;
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    color: #444444;
    font-weight: 700;
    letter-spacing : -0.13rem; 
    text-align: center;      
}

.addressText{
    padding-top: 30px;
    padding-bottom: 100px;
    /*22px*/
    font-size: 1.375rem;
    /*32px*/
    line-height: 2rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    text-align: center;
}

.addressText strong{
    /*22px*/
    font-size: 1.375rem;
    /*32px*/
    line-height: 2rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
    text-align: center;
}
/* 플레데이터 교육 장소 끝 */

/* 교육과정 일정 및 문의 안내 */
/* 참고사항 */
.refdivWhole{
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 220px;
}

.refDivPart{
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 32rem;
    text-align: center;
}

.refText strong{
    padding-top: 20px;
    padding-bottom: 10px;
    /*22px*/
    font-size: 1.375rem;
    /*32px*/
    line-height: 2rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
    text-align: center;
}

.refText{
    padding-top: 20px;
    padding-bottom: 10px;
    /*22px*/
    font-size: 1.375rem;
    /*32px*/
    line-height: 2rem;
    letter-spacing: -0.07rem;
    font-weight: 400;
    text-align: center;
}

 .lineGray{
        width: 100%;
        border: 0;
        height: 2px;
        background: #cccccc;
        text-align:center; 
        margin: 0 auto;
    }
/* 교육과정 일정 및 문의 안내 끝 */

/* 칼데라폼 안내문구 */
#fld_7263964Label{
  width: 100%;
}
  
/* 칼데라폼 문의하기 버튼 */
#fld_7908577_2{
  width: 100%;
}

/* 칼데라폼 - 신청서 양식 다운로드 */
.calderaFormDownload{
  margin: 10px;
  width: 30%; 
  border: 1px solid #cccccc; 
  text-align: center;   
}

.calderaFormDownload a:link{
  color: #83848A;
}

/* 칼데라폼 - 신청서 양식 다운로드 끝 */
/*===============================================================*/


/* 칼데라폼 미디어쿼리 */
  /* Mobile Device */ 
  /*칼데라폼 신청서 제목부분*/
  .cal_title_pc {
    display: none;
  }

  .cal_title_m{
    visibility : visible;
    text-align: center;
  }
  
  /* 칼데라폼 신청서 양식 다운로드 */
  #calderaFormDownloadWrapper{
    display: none;
  }

  #calderaFormDownloadWrapper_m{
    visibility: visible;
  }

  /* PC */
  @media all and (min-width:768px) { 
    /*칼데라폼 신청서 제목부분*/
    .cal_title_pc {
      display: block;
      text-align: center;         
    }
   
    .cal_title_m {
      display: none;
    }
  
    #cal_miniTitle_pc{
        background-color: #008996;
        color: #ffffff; 
    }
   
    #cal_mainTitle_pc{
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.2rem;
        color: #444444;
    }

    /* "상담신청서" */
    #cal_subject_pc{
        margin-bottom: 4rem;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.2rem;
        color: #555555;
    } 
    
    /* 칼데라폼 신청서 양식 다운로드 */ 
    #calderaFormDownloadWrapper{
      display: block;
    }
    
    #calderaFormDownloadWrapper_m{
      display: none;
    }
  }
  /* PC 미디어 쿼리 @media all and (min-width:768px) 끝 */
/* 칼데라폼 미디어쿼리 끝 */

/*------------- mobile -------------*/
/*caldera form css */
/* 칼데라폼 - 신청서 양식 다운로드 */
.calderaFormDownload_m{
  margin-bottom: 10px; 
  width: 100%;
  border: 1px solid #cccccc; 
  text-align: center;   
}

.calderaFormDownload_m a:link{
  color: #83848A;
}
/* 칼데라폼 - 신청서 양식 다운로드 끝 */
/* caldera form css 끝 */

/* 공통 - 소제목 밑줄 */
  .miniline_m{
    width: 16px;
    border: 0;
    height: 2px;
    background: #7b7b7b;
    text-align:center; 
    margin: 0 auto;
  }

/*공통 - 제목*/
  h2{
    text-align: center;
  }

  .divTitle_m{
    padding: 50px 10px 15px 10px;
    /*35px*/
    font-size: 2.188rem;
    /*45px*/    
    line-height: 2.813rem;
    color: #5fa52c;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.15rem;       
  }

  .divTitle_m strong{ 
    font-size: 2.188rem;
    line-height: 2.813rem;
    color: #5fa52c;
    /*black*/
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.1rem; 
  }

  .divSubTitle_m{
    padding: 10px 10px 15px 10px;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #444444;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.1rem;       
  }

/*추천대상*/
/*추천대상 - 박스 - 소제목*/
  .boxSubTitle_m{
    text-align: center;
  }

  .boxSubTitle_m strong{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    letter-spacing: -0.07rem;
    color: #444444;
    font-weight: 700;
  }

/* 추천대상 끝 */

/*교육 일정 및 문의 안내*/
  .boxContent_m{
      padding-top: 10px;
      padding-bottom: 20px;
      font-size: 1.25rem;
      letter-spacing: -0.1rem;
      color: #444444;    
      font-weight: 400;
      text-align: center;
  }
/*교육 일정 및 문의 안내 끝 */

/* 엔코아 장점 */
/* 엔코아 장점 - 제목*/
  .divTitleWhite_m{
      padding: 50px 10px 10px 10px;
      /*35px*/
      font-size: 2.188rem;
      /*45px*/    
      line-height: 2.813rem;
      color: #ffffff;
      font-weight: 700;
      text-align: center;
      letter-spacing: -0.15rem;       
  }

/* 엔코아 장점 - 내용 */
  .divSubTitleWhite_m{
      padding-top: 15px;
      padding-bottom: 10px;
      /*20px*/
      font-size: 1.25rem;
      /*30px*/
      line-height: 1.875rem;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      letter-spacing: -0.1rem;       
  }  

 /* 엔코아 장점 강의내용 */
  .divSubTitleColor_m{
    padding-top: 20px;
    text-align: center;
  } 

  .divSubTitleColor_m strong{
    /*20px*/
    font-size: 1.25rem;
    /*30px*/
    line-height: 1.875rem;
    color: #D1EDBC;
    letter-spacing: -0.1rem;       
  } 

  .divTextColor_m{
    padding-top: 10px;
    padding-bottom: 50px;
    /*16px*/
    font-size: 1rem ;
    line-height: 1.5rem;
    color: #D1EDBC;
    font-weight: 500;
    text-align: center;
  }
/* 엔코아 장점 끝 */

/* 커리큘럼 - 표 - mobile */
#cu3_m #point table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}  

#cu3_m th{
  border-top: 5px solid #222222;
  border-bottom: 5px solid #222222;
  text-align: center;
  color: #222222;
  font-size: 16px;
}

#cu3_m #point td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #222222;
  color: #222222;
}

#cu3_m .pointSubject {
  margin-right: 4px;
  margin-left: 4px;
  font-size: 14px;
  color: #222222;
  font-weight: 700;
  text-align: center;
}

#cu3_m .pointText {
  margin-left: 15px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  font-weight: 500;
}
/* 커리큘럼 - 표 - mobile 끝*/

/* 토글메뉴 - Mobile ver */
.curriculum_m{
    overflow: hidden;
    margin-bottom: 10px;
}
/* 토글메뉴 제목 - Mobile ver */
.curriculumSubject_m {
    margin: 0px;
    cursor: pointer;
    padding: 10px 10px 10px 25px;
    position: relative;
    /*20px*/
    font-size: 1.25rem;
    font-weight: 600 !important; 
    text-align: left;
    letter-spacing: -0.05rem;
}

/* 토글메뉴 - 검은색 화살표*/
.curriculumSubject_m::before, .curriculumSubject_m::after{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    margin-left: 80%;
    margin-right: 10px;
    background-position: center center;
    background-repeat: no-repeat;
   }
   
/* 토글메뉴 - 검은색 화살표 아이콘 margin left 값 조정 */
    @media screen and (max-width : 700px) and (min-width : 500px) {
        .curriculumSubject_m::before, .curriculumSubject_m::after{
            margin-left: 85%;
        }
    }

    @media screen and (max-width : 994px) and (min-width : 701px) {
        .curriculumSubject_m::before, .curriculumSubject_m::after{
            margin-left: 89%;
        }
    }
 
/* 토글메뉴 - 검은색화살표 아이콘 margin left 값 조정 끝 */

/* 토글메뉴 - 검정색 화살표*/
.curriculumSubject_m::before{
    display: inline-block;
    background-image: url("http://playdata.io/academy/wp-content/uploads/2019/04/arrow2_down_mobile15x15.png");
}
.curriculumSubject_m::after{
    display: none;
    background-image: url("http://playdata.io/academy/wp-content/uploads/2019/04/arrow2_up_mobile15x15.png");
}

.curriculum_m.open .curriculumSubject_m::before{
    display: none;
}
.curriculum_m.open .curriculumSubject_m::after{
    display: block;
    transform: translate3d(0, -100%, 0);
}

.curriculumContentContainer_m {
    height: 0;
    overflow: hidden;
    padding: 0;
}

/* 토글메뉴 - 설명칸 - Mobile ver */
.curriculumContent_m{
    padding: 25px 40px 25px 25px;
    background-color: #dddddd;
    color: #444444;
}

/* 토글메뉴 - 설명칸 text - Mobile ver */
.tableText_m{
    margin-bottom: 0px !important;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500 !important;     
    letter-spacing: -0.1rem;
    line-height: 1.875rem; 
}
/* 토글메뉴 - Mobile ver 끝 */

/* 교육 장소, 교육일정 및 문의 안내 - mobile */
.InfoTitle_m{
  padding: 50px 10px 25px 10px;
  /*35px*/
  font-size: 2.188rem;
  /*45px*/    
  line-height: 2.813rem;
  color: #333333;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.15rem;       
}

.InfoText_m strong{
  padding: 10px 10px 5px 10px;
  /*20px*/
  font-size: 1.25rem;
  /*30px*/
  line-height: 1.875rem;
  color: #444444;
  text-align: center;
  letter-spacing: -0.07rem;
  font-weight: 600;       
}

.InfoText_m{
  padding: 5px 10px 5px 10px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #444444;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.1rem;       
}
/* 교육 장소, 교육일정 및 문의 안내 - mobile 끝 */
