
/*커리큘럼*/
/* Mobile Device */
	/*커리큘럼 - 표*/
	#curriculum_m table{
		width: 100%;
		border-collapse: collapse;
		border: 0;
	}
	#curriculum2_m table{
		width: 100%;
		border-collapse: collapse;
		border: 0;
	}

	td{
		border: 0px !important;
	}

	/*커리큘럼 - 표 - 왼쪽 칸*/
	td[class$="Lecture_m"]{
		width: 25%;
		padding-top: 1.25rem !important;
		text-align: center;
		font-size: 1.5rem;;
		line-height: 1.875rem;
		font-weight: 700;
	}

	/*커리큘럼 - 표 - "정규커리큘럼"칸*/
	.webLecture_m{
		background-color: #bbbbbb;
	}	
		
	/*커리큘럼 - 표 - '프로젝트" - padding*/
	.projectLecture_m{
		background-color: #cccccc;
		padding-bottom: 1.25rem !important;
	}
	/*커리큘럼 - 표 - "프로젝트"칸 배경 및 글자 색*/
	.projectLecture_m{
		background-color: #e2bbc7;
		color: #ffffff;
	}
	/*커리큘럼 - 표 - 내용칸*/
	#curriculum_m .contents_m{
		padding-top: 1.25rem;
		padding-left: 1.25rem;
		background-color: #f1f1f1 !important;
		vertical-align: top;
	}
	/*커리큘럼 - 표 - 내용칸*/
	.contents_m p{
		margin-bottom: 0rem;
	}

	/*커리큘럼 - 표 - 내용칸 - 제목*/
	.textTitle_m{
		padding: 0.625rem;
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 800;
	}
	/*커리큘럼 - 표 - 내용칸 - 제목밑줄*/
    em{
	    border-bottom: 3px solid #222222;
	    line-height: 1.375rem;
	}
	.stepMargin_m{
		padding-top: 0.625rem;
	}
	
	/*커리큘럼 - 표 - 내용칸 - 내용목록*/
	.textList_m{
		padding: 0.3125rem;
		font-size: 1.25rem;
		line-height: 1.625rem;
		font-weight: 500;
	}

	/*커리큘럼 - 표 - 화살표*/
	.arrow_m{
		background-color: #e2ebdf;
	}
	/*커리큘럼 표 - 표안의 표 td*/
	.width td{
		padding-left: 0.625rem;
	}
	/*커리큘럼 표 - 표안의 표 td - 내용*/
	.text2{
		padding: 0rem;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
	}
/* Mobile Device 끝 */

/* Tablet & Device */
@media all and (min-width:768px) { 
	/*커리큘럼 - 표*/
	#curriculum table{
		width: 100%;
		border-collapse: collapse;
		border: 0;
	}	
	#curriculum2 table{
		width: 100%;
		border-collapse: collapse;
		border: 0;
	}

	td{
		border: 0px !important;
	}

	/*커리큘럼 - 표 - 왼쪽 칸*/
	td[class$="Lecture"]{
		width: 25%;
		text-align: center;
		font-size: 1.875rem;
		line-height: 2.5rem;
		font-weight: 500;
	}
	/*커리큘럼 - 표 - "정규커리큘럼"칸*/
	.webLecture{
		background-color: #bbbbbb;
		padding-top: 1.25rem !important;
		padding-bottom: 1.25rem !important;
	}
	/*커리큘럼 - 표 - "프로젝트"*/
	.projectLecture{
		padding-top: 1.563rem !important;
		padding-bottom: 1.563rem !important;
	}	
	/*커리큘럼 - 표 - "프로젝트"칸 배경 및 글자 색*/
	.projectLecture{
		background-color: #e2bbc7;
		color: #ffffff;
	}
	/*커리큘럼 - 표 - 내용칸*/
	#curriculum .contents{
		padding-top: 1.563rem;
		padding-left: 3.125rem;
		background-color: #f1f1f1 !important;
		vertical-align: top;
	}
	/*커리큘럼 - 표 - 내용칸*/
	.contents p{
		margin-bottom: 0rem;
	}

	/*커리큘럼 - 표 - 내용칸 - 제목 왼쪽 화살표*/
	#arrow-down{
		width: 5%
	}

	/*커리큘럼 - 표 - 내용칸 - 제목*/
	.sectionTitle{
		padding: 0.625rem;
		font-size: 1.5rem;
		line-height: 2.25rem;
		font-weight: 600;
	}
	/*커리큘럼 - 표 - 내용칸 - 제목 밑줄*/
	u{
		text-decoration: none;
	    border-bottom: 3px solid #222222;
	    margin-bottom: 0.3125rem;
	}
	.stepMargin{
		padding-top: 0.625rem;
		padding-bottom: 0.625rem;
	}
	/*커리큘럼 - 표 - 내용칸 - 내용 ("프로젝트"설명)*/
	.text {
		padding: 0.625rem;
	}
	/*커리큘럼 - 표 - 화살표*/
	.arrow{
		background-color: #e2ebdf;
	}

	/*커리큘럼 표 - 표안의 표 td*/
	.width1{
		margin-left: 1.25rem;
		padding-left: 1.25rem;
		width: 50%;
	}
	/*커리큘럼 표 - 표안의 표 td - 내용*/
	.text2{
		padding: 0rem;
		font-size: 1.375rem;
		line-height: 2rem;
		font-weight: 400;
	}
}
/*Tablet & Device 끝*/
/*커리큘럼 끝*/
