@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 


/* 전체 페이지 기본 글씨체 */
*{
 font-family: 'Noto Sans KR', sans-serif; 
 letter-spacing:-0.07rem;
 font-size: 1.125rem;
 color: #444444;
 
 /* 텍스트 선명하게 하는 코드 */
 /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.widget-info{
    color: #85868c !important;
}
 
/* 마우스 드래그 했을때의 선택영역 색상 변경 */
::selection{
	background:#008996;
	color:#fff;
}
::-moz-selection{
	background:#008996;
	color:#fff;
}
::-webkit-selection{
	background:#008996;
	color:#fff;
} 

/* 페이지에서 스크롤상태 표시하는 상단바 - Progress Indicator */
.b3 #i-am-progress-indicator {
  position:fixed;
  top:0;
  left:0;
  height:15px;
  background:#008996;
  width:0%;
  z-index: 500;
}


/* 칼데라폼 제출하기 버튼 */

#fld_7908577_1{
    width: 100%;
}

#fld_7908577_2{
    width: 100%;
}

#fld_7908577_3{
    width: 100%;
}

/* 칼데라폼 상담시간 */
#fld_2682925Label{
    width: 100%;
}
/*===============================================================*/
/* 메인 이미지 위 공백 삭제 (워드프레스 기본 css 삭제) */
#main{
	padding: 0px !important;
}

h2, p {
    margin-bottom: 0px !important;
}

    .miniline{
        width: 16px;
        border: 0;
        height: 2px;
        background: #7b7b7b;
        text-align:center; 
        margin: 0 auto;
    }
    
    .minilineBlack{
        width: 16px;
        border: 0;
        height: 2px;
        background: #ffffff;
        text-align:center; 
        margin: 0 auto;
    }

/*-----------여기부터 새 css----------*/
/*공통 - 제목*/
    h2{
        text-align: center;
    }

    h4{
        margin-bottom: 0px !important;
    }
    .alignLeft{
        text-align: left;
    }

    .alignCenter{
        text-align: center;
    }

    .titleColor{
        padding-top: 100px;
        padding-bottom: 30px;
        /*40px*/
        font-size: 2.5rem;
        /*45px*/
        line-height: 2.813rem;
        letter-spacing : -0.13rem;
        /*Bold*/
        font-weight: 700;
        color: #4d1091;
        text-align: center;       
    }

    .titleColor strong{
        /*40px*/
        font-size: 2.5rem;
        /*45px*/
        line-height: 2.813rem;
        letter-spacing : -0.05rem;
        /*Bold*/
        font-weight: 800;
        color: #4d1091;
        text-align: center;       
    }

    .subTitleColor{
        margin-bottom: 0px !important;
        padding-top: 20px;
        padding-bottom: 30px;
        /*26px*/
        font-size: 1.625rem;
        /*36px*/
        line-height: 2.25rem;
        letter-spacing: -0.13rem;
        font-weight: 800;
        color: #4d1091;
        text-align: center; 
    }

    .subTitleColor strong{
        /*26px*/
        font-size: 1.625rem;
        /*36px*/
        line-height: 2.25rem;
        letter-spacing: -0.07rem;
        font-weight: 800;
        color: #4d1091;
        text-align: center; 
    }
/* 공통 - 본문 */
    .mainText{
        padding-top: 20px;
        padding-bottom: 20px;
        /*22px*/
        font-size: 1.375rem;
        /*32px*/
        line-height: 2rem;
        letter-spacing: -0.07rem;
        /*Regular*/
        font-weight: 500;
        color: #444444;
        text-align: center;
    }

    .mainText strong{
        /*22px*/
        font-size: 1.375rem;
        /*32px*/
        line-height: 2rem;
        letter-spacing: -0.07rem;
        /*Medium*/
        font-weight: 600;
        color: #444444;
        text-align: center;
    }
/* 진출분야 - 설명 */
    .explainText{
        padding-top: 20px;
        padding-bottom: 20px;
        /*22px*/
        font-size: 1.375rem;
        /*32px*/
        line-height: 2rem;
        letter-spacing: -0.1rem;
        /*Demilight*/
        font-weight: 400;
        color: #444444;
        text-align: center;
    }

    .minilineBlack{
        width: 16px;
        border: 0;
        height: 2px;
        background: #333333;
        text-align:center; 
        margin: 0 auto;
    }

    .subText{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        /*20px*/
        font-size: 1.25rem;
        /*30px*/
        line-height: 1.875rem;
        letter-spacing: -0.05rem;
        font-weight: 400;
        color: #555555;
        text-align: left;
    }

/* qna */
    .qnaText{
        padding-top: 20px;
        padding-bottom: 20px;
        /*22px*/
        font-size: 1.375rem;
        /*32px*/
        line-height: 2rem;
        letter-spacing: -0.1rem;
        font-weight: 400;
        color: #444444;
        text-align: center;
    }

/*6개월 몰두*/
.focusText{
    padding-top: 100px;
    padding-bottom: 50px;
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.focusText strong{
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.weight500{
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;   
}

/* 6개월 몯두 - 지원 항목 */
.focusNO{
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    color: #b747ff;
    text-align: center;
}

.focusNO strong{
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    color: #b747ff;
    text-align: center;
}

.focusNO em{
    /*40px*/
    font-size: 2.5rem;
    /*60px*/
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    color: #b747ff;
    text-align: center;
}

.focusSub{
    /*40px*/
    font-size: 1.5rem;
    /*60px*/
    line-height: 3.125rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    color: #b747ff;
    text-align: center;
}

/* 6개월 몰두 끝  */
/* 커리큘럼 */
/*진한 회색 배경 + 흰 글씨*/
.bg333fcfff{
    padding-left: 50px;
    background: #333333;
    color: #ffffff;
}
/*옅은 회색 배경 + 검정 글씨*/
.bgcccfc333{
    background: #cccccc;
    color: #444444;
}

/*옅은 회색 배경 + 더 진한 검정 글씨*/
.bgcccfc444{
    background: #cccccc;
    color: #444444;
}

.curriculum{
    overflow: hidden;
    margin-bottom: 20px;
}
.curriculumSubject{
    margin: 0px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    /*22px*/
    font-size: 1.375rem;
    /*30px*/
    line-height: 1.875rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    text-align: left;
}

.curriculumSubject em{
    margin: 0px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    /*22px*/
    font-size: 1.375rem;
    /*30px*/
    line-height: 1.875rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    text-align: left;
}

.curriculumSubject::before, .curriculumSubject::after{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    margin-left: 85%;
    background-position: center center;
    background-repeat: no-repeat;
   }
.curriculumSubject::before{
    display: inline-block;
    background-image: url("http://playdata.io/academy/wp-content/uploads/2019/01/arrow_down.png");
}
.curriculumSubject::after{
    display: none;
    background-image: url("http://playdata.io/academy/wp-content/uploads/2019/01/arrow_up.png");
}

.curriculum.open .curriculumSubject::before{
    display: none;
}
.curriculum.open .curriculumSubject::after{
    display: block;
    transform: translate3d(0, -100%, 0);
}
.curriculumContentContainer {
    height: 0;
    overflow: hidden;
    padding: 0;
}
.curriculumContent{
    padding: 30px 20px 20px 50px;
    background-color: #dddddd;
    /*22px*/
    font-size: 1.375rem;
    /*32px*/
    line-height: 2rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    text-align: left;
}

.curriculumContent strong{
    font-size: 1.5rem;
    color: #444444;
    font-weight: 500;
    text-align: center;
}

/* 커리큘럼 - 도표 */
.tableBorder{
    border: none !important; 
    
}

.tableExplainText{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    color: #444444;
    font-weight: 400;
    border: none !important;
    border-color: #dddddd !important;
    background-color: #dddddd;
    /*22px*/
    font-size: 1.375rem;
    /*32px*/
    line-height: 2rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    text-align: left;
}

.tableText{
    width: 25rem !important;
    /*22px*/
    font-size: 1.375rem;
    /*32px*/
    line-height: 2rem;
    letter-spacing: -0.1rem;
    font-weight: 500;
    text-align: left;
}

/* 커리큘럼 끝 */


/*-----------여기까지 새 css----------*/
    .divTitleWhite{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.875rem;
        color: #ffffff;
        font-weight: 500; 
        text-align: center;      
    }

    .divTitleWhite strong{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.875rem;
        color: #ffffff;
        font-weight: 600; 
        text-align: center;      
    }

    .divTitlePink{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.875rem;
        color: #b16cff;
        font-weight: 500; 
        text-align: center;      
    }

    .divTitlePink strong{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.875rem;
        color: #b16cff;
        font-weight: 600; 
        text-align: center;      
    }

    .divTitlePink strong em{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.875rem;
        color: #b16cff;
        font-weight: 600; 
        text-align: center;      
    }
/*공통 - 정렬*/
    #textLeft{
        text-align: left;
    }

/*공통 - 소제목*/
.divSubTitleStrong{
      font-size: 1.25rem;
      color: #444444;
      font-weight: 500;
      text-align: center;       
    }

    .divSubTitle{
        font-size: 1.25rem;
        color: #444444;
        font-weight: 400;
        text-align: center; 
        padding-bottom: 2.5rem;       
    }

/*공통 - 기본 텍스트*/
    .divText{
        padding-top: 20px;
    	padding-bottom: 20px;
        font-size: 1.125rem;
        color: #444444;
        font-weight: 400;
        text-align: center;
    }

    .divText strong{
        padding-top: 20px;
    	padding-bottom: 20px;
        font-size: 1.125rem;
        color: #444444;
        font-weight: 500;
        text-align: center;
    }

    .divTextLeft{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        font-size: 1.125rem;
        color: #444444;
        font-weight: 400;
        text-align: left;
    }

    .divTextLeft_m{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        font-size: 1.125rem;
        color: #444444;
        font-weight: 400;
        text-align: left;
    }

    .divTextPink{
        font-size: 1.125rem;
        color: #b16cff;
        font-weight: 400;
        text-align: center;
    }


/* 채용공고, 수료생 프로젝트, 수료생 인터뷰 보러가기 a tag*/
.divALink{
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

    #divTitleJobSearching:hover {
        color: #1ebbf0;
    }


/*다른 css설정은 똑같고 배경색,글자색만 다른경우*/
/*커리큘럼*/
    /*진한 회색 배경 + 흰 글씨*/
    .bg333fcfff{
        background: #333333;
        color: #ffffff;
    }
    /*옅은 회색 배경 + 검정 글씨*/
    .bgcccfc333{
        background: #cccccc;
        color: #333333;
    }
    
    /*옅은 회색 배경 + 더 진한 검정 글씨*/
    .bgcccfc444{
        background: #cccccc;
        color: #444444;
    }

/*취업처*/
/*취업처 - 박스 - 소제목*/
    .boxSubTitle{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.75rem;
        color: #444444;
        font-weight: 400;
        text-align: center;       
    }

/*취업처 - 박스 - 내용*/
    .boxContent{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.375rem;
        color: #555555;    
        font-weight: 400;
        letter-spacing: -0.1rem;
        text-align: center;
    }
    
/*개발자 채용정보 보러가기*/
    .imgBox{
        text-align: center;
    }

    #playdataXwanted{
        vertical-align: middle;
        padding-right: 20px;
    }

    #divTitleJobSearching{
        line-height: 32px;
        font-size: 1.875rem;
        color: #ffffff;
        font-weight: 700; 
        vertical-align: middle;     
    }


/* 취업처 - 버튼 - 채용정보 바로가기 */
    .btnWrapper{
        text-align: center;    
    }

    #btnRound{
        width: 300px;
        background-color: #ff305a;
        color: #ffffff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border: 0px;
        line-height: 40px;
    }
/*취업처 끝*/

/* qna */
.divTextRecommend{
    font-size: 1.125rem;
    color: #444444;
    font-weight: 500;
    text-align: center;
}
/* qna 끝 */

/* 커리큘럼 */
.curriculum{
    overflow: hidden;
    margin-bottom: 10px;
}
.curriculumSubject {
    margin: 0px;
    cursor: pointer;
    padding: 20px 10px 20px 50px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700; 
}

.curriculumSubject::before, .curriculumSubject::after{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    margin-left: 90%;
    background-position: center center;
    background-repeat: no-repeat;
   }
.curriculumSubject::before{
    display: inline-block;
    background-image: url("http://playdata.io/academy/wp-content/uploads/2019/01/arrow_down.png");
}
.curriculumSubject::after{
    display: none;
    background-image: url("http://playdata.io/academy/wp-content/uploads/2019/01/arrow_up.png");
}

.curriculum.open .curriculumSubject::before{
    display: none;
}
.curriculum.open .curriculumSubject::after{
    display: block;
    transform: translate3d(0, -100%, 0);
}
.curriculumContentContainer {
    height: 0;
    overflow: hidden;
    padding: 0;
}
.curriculumContent{
    padding: 50px 20px 40px 50px;
    background-color: #dddddd;
    font-size: 1.5rem;
    color: #444444;
    font-weight: 400;
}

.curriculumContent strong{
    font-size: 1.5rem;
    color: #444444;
    font-weight: 500;
    text-align: center;
}

/* 커리큘럼 - 도표 */
.tableBorder{
    border: none !important; 
    
}

.tableExplainText{
    padding-bottom: 20px !important;
    font-size: 1.5rem;
    color: #444444;
    font-weight: 400;
    border: none !important;
    border-color: #dddddd !important;
}

.tableText > strong{
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #444444;
    font-weight: 500;
}

.tableText{
    width: 25rem !important;
    font-size: 1.5rem;
    color: #444444;
    font-weight: 400; 
}

/* 커리큘럼 끝 */


/* 강사소개 - 강사명 */
.teacherSubjectName {
    margin: 0px;
    cursor: pointer;
    font-weight: 500;
    padding: 20px 10px 20px 50px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    background: #cccccc;
    color: #444444;
}

.teacherSubjectName strong{
    margin: 0px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    background: #cccccc;
    color: #444444;
}
/* 강사소개 - 항목명*/
.teacherSubject{
    margin: 0px;
    cursor: pointer;
    font-weight: 600;
    padding: 20px 10px 20px 40px;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    background: #dddddd;
    color: #444444;
}

/* 강사소개 - 내용*/
.teacherContentContainer {
    overflow: hidden;
    padding: 0;
}

.teacherContent{
    padding: 0px 20px 0px 0px;
    background-color: #dddddd;
    font-size: 1.5rem;
    color: #444444;
    font-weight: 400;
}

.teacherText{
    padding-left: 50px;
    font-size: 1.25rem;
    color: #444444;
    font-weight: 400; 
}
/* 강사소개 끝 */

/* 수료생 프로젝트, 수료생 인터뷰 보러가기*/
.divALink{
    display: block;
    text-decoration: none;
    color: #ffffff;
}


#divTitleProject{
    line-height: 32px;
    font-size: 1.875rem;
    color: #ffffff;
    font-weight: 600;  
    }

#divTitleProject > a > strong{
    line-height: 32px;
    font-size: 1.875rem;
    color: #ffffff;
    font-weight: 700; 
    }

#divTitleInterview{
    line-height: 32px;
    font-size: 1.875rem;
    color: #ffffff;
    font-weight: 600; 
    }

#divTitleInterview > a > strong{
    line-height: 32px;
    font-size: 1.875rem;
    color: #ffffff;
    font-weight: 700; 
    }
    
/* 플레이데이터 스페셜 프로그램 */

#specialDiv{
    width: 512px;
    height: 250px;
}


/* 플레이데이터 스페셜 프로그램 */


/* 취업 지원 프로그램 - 3. 데모데이 - 더보기 버튼 */
#demodayBtn {
    color: #000000;
    border: #000000 solid 2px;
    background-color: #eeeeee;
    padding: 0px 5px 5px 5px;
    width: 6.25rem;
    margin-top: 10px;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

#demodayBtn:hover {
    color: #000000 !important;
    border: #000000 solid 2px;
    background-color: #888888;
    padding: 0px 5px 5px 5px;
    width: 6.25rem;
    margin-top: 10px;
    font-size: 1.125rem;
    line-height: 1.25rem;
}


#demodayBtn a:hover {
    color: #000000 !important;
}

/* 취업 지원 프로그램 - 3. 데모데이 - 더보기 버튼 - mobile*/
#demodayBtn_m {
    color: #ffffff;
    border: #ffffff solid 2px;
    background-color: rgba( 255, 255, 255, 0.1);
    padding: 0px 5px 5px 5px;
    width: 6.25rem;
    margin-top: 10px;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

#demodayBtn_m:hover {
    color: #ffffff !important;
    border: #ffffff solid 2px;
    background-color: #888888;
    padding: 0px 5px 5px 5px;
    width: 6.25rem;
    margin-top: 10px;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

#demodayBtn_m a:hover {
    color: #ffffff !important;
}
/*===============================================================*/
/* 칼데라폼 버튼 */
/* caldera form css */
button.caldera-forms-modal {
  margin-top: 0px;
  margin-bottom: 0px;
  appearance: none;
  box-shadow: none;
  border: none;
  height: 7.5rem;
  width: 100%;
  color: #ffffff;
  background-color: #008896;
  font-size: 2rem;
  text-shadow: none;
}

button:hover {
  background-color: #008896;
  text-shadow: none;
}

button:active {
  background-color: #008896;
  border-bottom: none;
  border-right: none;
  text-shadow: none;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               